doctype html
//- basic libraries: jquery(1.10.2), d3js(3.5.4), angularjs(1.3.15), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0), reactjs(0.14.0)
- var use = { cdn: true, og: false, favicon: true }
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false, fontawesome: true, reactjs: false, revealjs: false, ionrangeslider: false, ldcolorpicker: false }
- var assets = "assets"
- var favicon = "thumbnail.png"
- var title = "template"
- var og = {}
- og.title = title
- og.twitter = {type: "summary_large_image", site: "@zbryikt", creator: "@zbryikt"}
- og.domain = "zbryikt.github.io"
- og.url = ""
- og.thumbnail = {width: 200, height: 200, type: "image/png"}
- og.thumbnail.url = "thumbnail.png"
- og.author = "zbryikt"
- og.section = "Taiwan"
- og.keyword = "zbryikt,template"
- og.description = ""
- var fb = {}
- fb.app_id = ""
- fb.admins = ""
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    include mixin.jade
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
  body
    div(style="margin:0;height:0") &nbsp;
    #landing.rel
      .inner
      .banner.centered
        h1 枯萎的福爾摩沙
        h3  ─ 人口紅利出盡的台灣，未來在哪裡？
        p 隨著勞動人口比例增加，經濟也跟著活絡成長，這便是所謂的「#[b.red 人口紅利]」( Demographic Dividend ) 。在人口紅利晚期，一方面生育率下降使得需要扶養的青少年減少、另一方面整體的勞動人口數達到最高，似乎有利於國家經濟的發展，然而生育率降低也帶來了#[b.red 人口老化]，讓未來勞動人口的負擔更大。
    +nbr(2)
    #root
      h1.text-center 先從人口組成開始講起
      +nbr(2)
      p 2353 萬人，台灣人口數目前已達到前所未有的高了。在短短二十年間，人口甚至增加了近 150 萬。光看這個數字，是不是還有點擔心人會不會太多呢？事實上，若以每年增加的速度來看，人口成長已經逐年趨緩。
      svg#svg(style="width:800px;height:300px;display:block;margin:auto")
      .text-center: small.grayed 逐年人口增加數
      +nbr(2)
      .row
        .col-sm-4
          img(src="img/stack.svg",style="width:320px")
        .col-sm-7
          h2 工作年齡人口比例於三年前便開始衰退
          p 國發會人口報告指出，台灣 2000 年跨入最有利於經濟發展的「人口紅利期」，也就是工作年齡人口（15-64歲)占七成以上，此後勞動人口在2011~2014年達顛峰，占總人口約74.4%。不過受少子化衝擊，前年開始快速下降，人口紅利將於2020年脫離。也就是台灣即將揮別20年的勞動力黃金時期。

    script(type="text/javascript",src="index.js")
